@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

@section Ueberschrift{
    Wir bitten um Entschuldigung
}

<hgroup class="title" style="color:white">
    <h1 class="error">Fehler.</h1>
    <h2 class="error">Bei Ihrer Anfrage ist ein Fehler aufgetreten</h2>
</hgroup>
